**/assets/**/* filter=lfs diff=lfs merge=lfs -text
**/data/**/* filter=lfs diff=lfs merge=lfs -text
**/static/**/* filter=lfs diff=lfs merge=lfs -text
**/static/css/* !filter !diff !merge text
**/static/js/* !filter !diff !merge text
